<div id="<%= dom_id family_member %>">
  <%
=begin%>
 <p>
    <strong>F:</strong>
    <%= family_member.f_id %>
  </p> 
<%
=end%>

  <p>
    <strong>Member ID:</strong>
    <%= family_member.m_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= family_member.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= family_member.dob %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= family_member.role %>
  </p>

  <%
=begin%>
 <p>
    <strong>Gender:</strong>
    <%= family_member.gender %>
  </p> 
<%
=end%>

</div>
