<div id="<%= dom_id buy_list %>">
  <p>
    <strong>Shopping:</strong>
    <%= buy_list.shopping_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= buy_list.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= buy_list.location %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= buy_list.total %>
  </p>

  <p>
    <strong>List:</strong>
    <%= buy_list.list %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= buy_list.status %>
  </p>

</div>
