<!-- app/views/sessions/new.html.erb -->
<%= form_with url: login_path, scope: :user do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
    <div style="margin-top: 0.5rem;margin-bottom: 1rem">
  <%= form.submit "Sign In", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Sign Up", sign_up_path, class: "btn btn-secondary" %>