<div id="<%= dom_id feed %>">
  <p>
    <strong>F:</strong>
    <%= feed.f_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= feed.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= feed.body %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= feed.type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= feed.date %>
  </p>

  <p>
    <strong>By:</strong>
    <%= feed.by %>
  </p>

</div>
