<%= form_with(model: family) do |form| %>
  <% if family.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
        <% family.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fam_id, style: "display: block" %>
    <%= form.text_field :fam_id %>
  </div>

  <div>
    <%= form.label :fam_name, style: "display: block" %>
    <%= form.text_field :fam_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
